[flake8]
ignore = 
    E302
    E501
exclude =
    .git,
    __pycache__,
    docs/source/conf.py,
    old,
    build,
    dist
per-file-ignores =
    ../Fink_MM/fink_mm/online/ztf_join_gcn.py:W503,E402
    ../Fink_MM/fink_mm/offline/spark_offline.py:W503,W605
    ../Fink_MM/fink_mm/utils/fun_utils.py:F811
    ../Fink_MM/fink_mm/distribution/distribution.py:W503
    ../Fink_MM/fink_mm/observatory/__init__.py:E402
    ../Fink_MM/setup.py:W503
    ../Fink_MM/fink_mm/observatory/LVK/LVK.py:W503