[Unit]
Description=fink_grb_gcn_stream

[Service]
Type=simple

# Command to execute when the service is started
ExecStart=fink_grb start_gcn_stream

# Disable Python's buffering of STDOUT and STDERR, so that output from the
# service shows up immediately in systemd's logs
Environment=PYTHONUNBUFFERED=1

# restart on failure
Restart=on-failure